<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"> Logo </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#company" class="topLink"> Company</a></li>
                <li><a href="#products"class="topLink"> Products</a></li>
                <li><a href="#services"class="topLink"> Services</a></li>
                <li><a href="#commercial"class="topLink"> Services</a></li>
                <li><a href="#contact"class="topLink"> Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
