@import "materialize/components/color";
$primary-color: color("grey", "darken-4") !default;
@import 'materialize';
@import "materialize/extras/nouislider";


.parallax-container{

    margin-bottom: -20px;
    height: 520px;

}

.cover{
    height: 500px;

}
.section{
    height: 500px;
}




img {
    opacity: 0.5;

}
.row h2 {
    margin-top: 60px;
    text-align: center;
}



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
