@import "materialize/components/color";
$primary-color: color("grey", "lighten-5") !default;
@import 'materialize';
@import "materialize/extras/nouislider";


.parallax-container{

    margin-bottom: -20px;
    height: 520px;
}

.cover{
    height: 500px;

}
.section{
    height: 500px;
}

.nav-wrapper a{


    color: black;

}

.footer{

    color: black;


}

nav ul li:hover {


}

nav ul li:active {

}



img {
    opacity: 0.5;

}
.row h2 {
    margin-top: 60px;
    text-align: center;
}

.page-footer h5, p, a{
    color: black;
}

/* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }




body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
