<body>

    <!--- section 1 -->
    <div class="section white">
        <a id="company"></a> <!-- anchor -->
        <div class="row container">
            <h2> Company </h2>
            <p class="grey-text text-darken-3 lighten-3">Company is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>
    <!--- end section 1 -->


    <!--- section 2 -->
    <div class="parallax-container"> <a id="products"></a> <!-- anchor -->
        <div class="parallax"> <%= image_tag('Alps.jpg') %>    </div>
        <div class="row container">
            <h2> Products </h2>
        </div>
    </div>
    <!--- end section 2 -->


    <!--- section 3 -->
    <div class="section white">
        <a id="services"></a> <!-- anchor -->
        <div class="row container">
            <h2> Services </h2>
        </div>
    </div>
    <!--- end section 3 -->


    <!--- section 4 -->

    <div class="parallax-container"> <a id="contact"></a> <!-- anchor -->
        <div class="parallax"><%= image_tag('Alps.jpg') %></div>
        <div class="row container">
            <h2> Contact </h2>
        </div>
    </div>

    <!--- end section 4 -->



</body>
