
<a name="top"></a>


<div class="navbar">
</div>
<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Link 1", root_path , class: 'white-text', :data => { :reload => false } %></li>


        </ul>
    </div>
</nav>
</div>



<div class="parallax-container">
    <div class="parallax"> <%=image_tag('Industry.jpg')%> </div>
    <h1> My business </h1>
    <h6> Lorem ipsum dolor sit amet, vitae ipsum urna ipsum amet vestibulum ad, velit pellentesque tristique. </h6>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">Second</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"> <%=image_tag('Alps.jpg')%> </div>
</div>

<div class="section white">
    <div class="row container">
      <h2 class="header"> LAST </h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
    <a href="#top">Back to the Top</a>

  </div>

  <div class="parallax-container">
      <div class="parallax"><img src="business_page/app/assests/images/Alps.jpg"></div>
  </div>
